* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.text-white {
    color: #fff !important;
}

.row::after {
    content: "";
    display: block;
    clear: both;
}

.mt-8 {
    margin-top: 8px !important;
}

.mt-16 {
    margin-top: 16px !important;
}

.mt-32 {
    margin-top: 32px;
}

.text-center {
    text-align: center !important ;
}

html {
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}

.clear {
    clear: both;
}

.row {
    margin-left: -8px;
    margin-right: -8px;
}

.col {
    float: left;
    padding: 0 8px;
}

.col-ful {
    width: 100%;
}

.col-third {
    width: 33.3333%;
}

.col-half {
    width: 50%;
}

.btn {
    padding: 11px 16px;
    color: #fff;
    background-color: #000;
    display: inline-block;
    text-decoration: none;
    margin-top: 15px;
    border: none;
    appearance: none;
    -webkit-apparance: none;
}

.pull-right {
    float: right;
}

.btn:hover {
    background-color: #ccc;
    color: #000;
}

#header {
    height: 46px;
    background-color: #000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;
    overflow: visible;
}

#nav {
    display: inline;
}

#nav, .subnav{
    list-style-type: none;
}

#nav li {
    display: inline-block;
    position: relative;
}

#nav li a {
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display: block;
}

#nav > li > a {
    text-transform: uppercase;
    color: #fff;
    display: inline-block;
}

#nav .subnav {
    display: none;
    position: absolute;
    top: 100%;
    left: 0%;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    min-width: 160px;
    z-index: 2;
} 

#nav > li:hover > a,
#nav .subnav li:hover a {
    color: #000;
    background-color: #ccc;
    display: block;
}


#nav li:hover .subnav {
    display: block;
}

#nav .subnav a {
    color: #000;
    padding: 0 12px;
    line-height: 38px;
}

#nav .subnav li {
    width: 100%;
    display: block;
}

#nav .nav-arrow-down {
    font-size: 14px;
}

#header .mobile-menu-btn,
#header .search-button {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 21px;
    display: none;
}

#header .mobile-menu-btn:hover,
#header .search-button:hover {
    background-color: #f44336;
    cursor: pointer;
}

#header .mobile-menu-btn:hover .menu-icon {
    color: #000;
}

#header .mobile-menu-btn:hover {
    background-color: #ccc;
}

#header .menu-icon,
#header .search-icon {
    color: #fff;
    font-size: 20px;
    line-height: 46px;
}

#slider {
    position: relative;
    margin-top: 46px;
    padding-top: 50%;
    background: url('./image/image\ 1.jpg') top center /cover no-repeat;
    z-index: 1;
}

#slider .text-content {
    position: absolute;
    bottom: 47px;
    color: #fff;
    width: 100%;
    text-align: center;
    text-shadow: 0 0 1px #000;
}

#slider .text-slider {
    font-weight: 300;
    font-size: 24px;
}

#slider .text-descripttion {
    font-size: 15px;
    padding-top: 25px;
}
#content .content-section {
    padding-top: 74px;
    width: 800px;
    max-width: 100%;    
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    padding-left: 16px;
    padding-right: 16px;
}

#content .content-heading {
    text-align: center;
    padding-bottom: 25px;
    font-size: 30px;
    font-weight: 100;
    letter-spacing: 4px;
    
}

#content .content-sub-heading {
    text-align: center;
    font-style: italic;
    padding-bottom: 15px;
    font-size: 15px;
    opacity: 0.4;
}

#content .content-about {
    text-align: justify;
    line-height: 1.4;
    font-size: 15px;
}

#content .member-name {
    font-size: 15px;
    margin-bottom: 15px;
}

#content .band {
    margin-top: 32px;
    padding-left: 32px;
    padding-right: 32px;    
}

#content .member-image {
    width: 154px;
    border-radius: 4%;
} 

.tour-section {
    margin-top: 96px;
    background-color: #000;
    padding-bottom: 96px;
}

.ticket-list {
    background-color: #fff;
    margin-top: 15px;
    list-style: none;
}

.ticket-list li {
    font-size: 15px;
    padding: 11px 16px;
    border-bottom: 1px solid rgb(221, 221, 221);
    color: #757575;
}

.ticket-list .sold-out {
    background-color: #f44336;
    color: #fff;
    padding: 3px 4px;
    margin-left: 16px;
}

.ticket-list .quantity {
    float: right;
    background: #000;
    border-radius: 50%;
    color: #fff;
    width: 24px;
    height: 24px;
    text-align: center;
    line-height: 24px;
    margin-top: -2px;
}

.places-list {
    margin-top: 16px;   
}

.place-img {
    width: 100%;
    display: block;
}

.place-img:hover {
    opacity: 0.6;
}

.place-body {
    color: #000;
    background-color: #fff;
    padding: 16px;
}

.place-heading {
    font-weight: 600;
    font-size: 15px;
}

.place-time {
    margin-top: 15px;
    color: #757575;
}

.place-descripttion {
    margin-top: 15px;
    line-height: 1.4;
}

.contact-content {
    margin-top: 48px;
}

.contact-info {
    font-size: 18px;
    line-height: 1.5;
}

.contact-info i[class*="ti-"] {
    width: 30px;
    display: inline-block;
}

.contact-info a {
    color: #101aef;
    opacity: 0.8;
}

.contact-info a:hover {
    opacity: 1;
}

.contact-form {
    font-size: 15px;
}

.contact-form .form-control {
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
}

.map-section img {
    width: 100%;
}

#footer {
    padding: 64px 16px;
    text-align: center;
}

#footer .social-list {
    font-size: 24px;
}

#footer .social-list a {
    color: rgba(0, 0, 0, 0.6);
    text-decoration: none;
}

#footer .social-list a:hover,
#footer .copyright a:hover {
    color: rgba(0, 0, 0, 0.4);
}

#footer .copyright {
    margin-top: 15px;
    color: rgba(0, 0, 0, 0.6);
    font-size: 15px;
}

#footer .copyright a {
    color: rgba(0, 0, 0, 0.6);
}

.modal.open {
    display: flex;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 999999;
}

.modal-container {
    width: 900px;
    min-height: 200px;
    background-color: #fff;
    position: relative;
    max-width: calc(100% - 32px);
    animation: modalfadein ease 0.5s;   
}

.modal-header {
    background-color: #009688;
    height: 130px; 
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #fff;
} 

.modal-bag {
    margin-right: 16px;
}

.modal-close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px;
    color: #fff;
    cursor: pointer;
}

.modal-close:hover {
    color: #000;
    background-color: #ccc;
}

.modal-label {
    display: block;
    font-size: 15px;
    margin-bottom: 12px;
}

.modal-body {
    padding: 12px;
}

.modal-input {
    border: 1px solid #ccc;
    width: 100%;
    font-size: 15px;
    padding: 10px;
    margin-bottom: 24px;
}

.modal-pay {
    color: #fff;
    background-color: #009688;
    width: 100%;
    padding: 16px;
    border: none;
    font-size: 15px;
    margin-bottom: 15px;
}

.modal-pay:hover {
    color: #000;
    background-color: #ccc;
}

.modal-footer {
    float: right;
    padding: 16px;
    font-size: 15px;
    cursor: pointer;
}

.modal-footer a {
    color: #2196F3;
}

.modal-footer:hover {
    color: #000;
    background-color: #ccc;
}

@keyframes modalfadein {
    from {
        transform: translateY(-140px);
        opacity: 0;
    }
    to { 
        transform: translateY(0);
        opacity: 1;
    }
}